@import "../../_globalColor";

.language-toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.language-emoji {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
